body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::selection {
  color: rgb(27,27,27);
  background: #5EBEC4;
}


a{
  text-decoration: none;
  color: inherit;
}

h1,h2,h3,h4,h5,h6
{
  padding:0;
  margin:0;
}


/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background:  rgb(27,27,27);
  


}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5EBEC4; 


}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5EBEC4; 
  border-radius: 10px;
 
}